
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID chứng chỉ</th>
      <th scope="col">Cơ quan chứng nhận</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>{{certificate.id}}</td>
        <td>{{certificate.certificateFacility.name}}</td>
    </tr>
  </tbody>
</table>