<h3 class="mt-4">Thêm sản phẩm </h3>

<div class="mt-4">
    <form method="POST" action="/livestockProduct/store">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id">
        </div>
        <div class="form-group">
            <label for="name">Tên sản phẩm </label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
       
        <div>
            <label for="raising_facility_id">Cơ sở chăn nuôi</label>
            <select class="form-control" name="raising_facility_id">
                {{#each raisingFacility}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Thêm</button>
    </form>
</div>