
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID sản phẩm</th>
      <th scope="col">Tên sản phẩm</th>
      <th scope="col">Cơ sở chăn nuôi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{livestockProduct.id}}</td>
      <td>{{livestockProduct.name}}</td>
      <td>{{livestockProduct.raisingFacility.name}}</td>
    </tr>
  </tbody>
</table>
