<h3 class="mt-4">Cập nhật sản phẩm</h3> 

<div class="mt-4">
    <form method="POST" action="/livestockProduct/{{livestockProduct.id}}?_method=PUT">


        <div class="form-group">
            <label for="name">Tên</label>
            <input type="text" class="form-control" value="{{livestockProduct.name}}" id="name" name="name">
        </div>

        <button type="submit" class="btn btn-primary mt-4">Lưu</button>
    </form>
</div>