


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Certificate List</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <h1>Certificate List</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Tên chứng chỉ</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      {{#each certificate}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>
          <div class="btn-group-vertical">
            <a href="/certificate/{{this.id}}">
              <button class="btn-detail" data-id="{{this.id}}">Chi tiết</button>
            </a>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</body>
</html>
