<h3 class="mt-4">Thêm cơ sở chăn nuôi</h3>

<div class="mt-4">
  <form method="POST" action="/raisingFacility/store">
    <div class="form-group">
      <label for="id">ID cơ sở</label>
      <input type="text" class="form-control" id="id" name="id">
    </div>
    <div class="form-group">
      <label for="name">Tên cơ sở</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div>
      <label for="livestock_type">Động vật</label>
      <input type="text" class="form-control" id="livestock_type" name="livestock_type">
    </div>
    <div class="form-group">
      <label for="name">Chủ sở hữu</label>
      <input type="text" class="form-control" id="owner" name="owner">
    </div>
    <div class="form-group">
      <label for="name">Địa chỉ</label>
      <input type="text" class="form-control" id="location" name="location">
    </div>
    <div class="form-group">
      <label for="name">Quy mô</label>
      <input type="text" class="form-control" id="size" name="size">
    </div>
    <div class="form-group">
      <label for="name">Số lượng nhân viên</label>
      <input type="text" class="form-control" id="employee_number" name="employee_number">
    </div>
    <div class="form-group">
        <label>Chứng chỉ</label>
        <div class="form-check">
            {{#each certificates}}
            <input
            class="form-check-input"
            type="checkbox"
            id="certificate_{{this.id}}"
            name="certificate_ids[]"
            value="{{this.id}}"
            >
            <label class="form-check-label" for="certificate_{{this.id}}">
            {{this.name}}
            </label>
            <br>
            {{/each}}
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Thêm</button>
  </form>
</div>
