
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID sản phẩm</th>
      <th scope="col">Tên sản phẩm</th>
      <th scope="col">Đơn giá</th>
      <th scope="col">Cơ sở sản xuất</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>{{wasteTreatmentProduct.id}}</td>
        <td>{{wasteTreatmentProduct.name}}</td>
        <td>{{wasteTreatmentProduct.price}}</td>
        <td>{{wasteTreatmentProduct.wasteTreatmentFacility.name}}</td>
    </tr>
  </tbody>
</table>