<div>
<h1>Giới thiệu</h1>
<p>Trang web này là sản phẩm của nhóm "Huy và những người bạn" thuộc môn Kĩ thuật phần mềm ứng dụng (mã lớp: 154885, GVHD: Vũ Song Tùng) với chủ đề: Quản lý chăn nuôi.
</p>
</h1>
    <h1>Thành viên nhóm:</h1>
    <ul>
        <li>Trần Gia Huy</li>
        <li> Nguyễn Việt Dũng</li>
        <li>Nguyễn Trọng Phúc</li>
        <li>Trần Tuấn Tú</li>
        <li>Nguyễn Trương Hồng Đức</li>
    </ul>
    <h1>Trân trọng cảm ơn:</h1>
    <ul>
        <li>Lê Đăng Quang
        </li>
        <li>Đàm Lê Văn Toàn</li>
    </ul>
</div>