
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID nhân viên</th>
      <th scope="col">Tên nhân viên</th>
      <th scope="col">Cơ sở chăn nuôi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{raisingEmployee.id}}</td>
      <td>{{raisingEmployee.name}}</td>
      <td>{{raisingEmployee.raisingFacility.name}}</td>
    </tr>
  </tbody>
</table>
