
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID cơ sở chế biến </th>
      <th scope="col">Cơ sở chăn nuôi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{processingFacility.id}}</td>
      <td>{{processingFacility.raisingFacility.name}}</td>
    </tr>
  </tbody>
</table>
